<mat-toolbar color="primary">
    <span class="fill-remaining-space">Paradise Graph Data</span>
</mat-toolbar>

<div >
    <br/>
    <mat-form-field  class="outputBoxClass">
        <mat-label>Select Id</mat-label>  
        <select matNativeControl required>
        <option *ngFor="let temp of ids" [value]="temp" (click)="getSelectedId(temp)">
            {{temp}}
        </option>
        </select>
    </mat-form-field>

    <mat-form-field  class="filterClass">
            <mat-label>Select Filter</mat-label>  
            <select matNativeControl required>
            <option *ngFor="let temp of filters" [value]="temp" (click)="getSelectedFilter(temp)">
                {{temp}}
            </option>
            </select>
    </mat-form-field>
    <br/>
    <button type="submit" class="searchButtonClass" (click)="populateGraph('GetUID')">Get Graph</button>
    <button type="submit" class="filterButtonClass" (click)="applyFilter()">Apply Filter</button>
</div>

<br/>

<div class="mynetwork" id="mynetwork" #siteConfigNetwork></div>

